# Dependencies
node_modules/
package-lock.json

# Build output
public/
dist/

# Logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
.env.production

# Vercel
.vercel

# Temporary files
*.tmp
*.temp
.cache/